.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  background-color: #2F4550;
}
.txtcontainer{
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 7vh;
  height: 80vh;
  width:40vw;
  gap: 6vh;
}
.button{
  background-color: transparent;
  border: none;
  width: 20vw;
  border-radius: 30px;
  border: 2px #586F7C solid;
  color:black ;
  font-weight: 300;
  font-size: 2vw;
  height: 5.5vh;
  cursor:crosshair;
}
